body
{
background-color:#303030;
color:#ffffff;
font-family: verdana;
font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square
{
	width:50%;
	float:left;
}

#logo
{
	float:left;
	font-size:70px;
	width:600px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
}

#zegar
{
	float:left;
	font-size:70px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
}

.tile1
{
	margin: 10px;
	width:230px;
	height:142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile1:hover
{
	background-color:#0062a0;
}

.tile2
{
	margin: 10px;
	width:230px;
	height:142px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile2:hover
{
	background-color:#444444;
}

.tile3
{
	margin: 10px;
	width:230px;
	height:142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color:#60a415;
}

.tile4
{
	margin: 10px;
	width:430px;
	height:92px;
	background-color: #ee5232;
	text-align: center;
	font-size:24px;
	padding:25px;
}

.tile4:hover
{
	background-color:#bb2000;
}

.tile5
{
	margin: 10px;
	width:480px;
	height:304px;
	text-align: center;
}

.tile6
{
	margin: 10px;
	width:105px;
	height:142px;
	background-color: #d94348;
	float: left;
	text-align: center;
}

.tile6:hover
{
	background-color:#a61015;
}

.tile7
{
	margin: 10px;
	width:105px;
	height:142px;
	background-color: #4668b3;
	float: left;
	text-align: center;
}

.tile7:hover
{
	background-color:#1335a0;
}

.tile8
{
	margin: 10px;
	width:105px;
	height:142px;
	background-color: #c7c7c7;
	float: left;
	text-align: center;
	
}

.tile8:hover
{
	background-color:#a4a4a4;
}

.tile9
{
	margin: 10px;
	width:105px;
	height:142px;
	background-color: #e24329;
	float: left;
	text-align: center;
}

.tile9:hover
{
	background-color:#b01006;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display: block;
	width:105px;
	height:142px;
}